site_name: Spyglass
site_url: https://lorenfranklab.github.io/spyglass
site_description: Spyglass Documentation
site_author: CBroz1

repo_url: https://github.com/LorenFrankLab/spyglass
docs_dir: ./src/
edit_uri: blob/main/docs/src/

copyright: Copyright (c) 2020-present Loren Frank

theme:
  name: material
  custom_dir: overrides
  logo: images/FrankLab.png
  favicon: images/Spyglass.svg
  features:
    - toc.follow
    - navigation.top
    - navigation.instant # saves loading time - 1 browser page
    - navigation.tracking # even with above, changes URL by section
    - navigation.top
    - search.suggest
    - search.share
    - navigation.footer
    - content.code.copy
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: auto
      toggle:
        icon: material/brightness-7
        name: Switch to dark mode
    - media: "(prefers-color-scheme: slate)"
      scheme: slate
      toggle:
        icon: material/brightness-4
        name: Switch to light mode
  disable_nav_previous_next: true
  disable_nav_search: false
  navigation_depth: 2
  locale: en

nav:
  - Home: index.md
  - Tutorials:
      - Overview: notebooks/index.md
      - Intro:
          - Setup: notebooks/00_Setup.ipynb
          - Concepts: notebooks/01_Concepts.ipynb
          - Insert Data: notebooks/02_Insert_Data.ipynb
          - Data Sync: notebooks/03_Data_Sync.ipynb
          - Merge Tables: notebooks/04_Merge_Tables.ipynb
          - Export: notebooks/05_Export.ipynb
      - Spikes:
          - Spike Sorting V0: notebooks/10_Spike_SortingV0.ipynb
          - Spike Sorting V1: notebooks/10_Spike_SortingV1.ipynb
          - Spike Sorting Analysis: notebooks/11_Spike_Sorting_Analysis.ipynb
          - Spike Burst Merge: notebooks/12_Burst_Merge_Curation.ipynb
      - Position:
          - Position Trodes: notebooks/20_Position_Trodes.ipynb
          - DLC Models: notebooks/21_DLC.ipynb
          - Looping DLC: notebooks/22_DLC_Loop.ipynb
          - Linearization: notebooks/24_Linearization.ipynb
      - LFP:
          - LFP: notebooks/30_LFP.ipynb
          - Theta: notebooks/31_Theta.ipynb
          - Ripple Detection: notebooks/32_Ripple_Detection.ipynb
      - Decoding:
          - Extracting Waveforms: notebooks/40_Extracting_Clusterless_Waveform_Features.ipynb
          - Decoding Clusterless: notebooks/41_Decoding_Clusterless.ipynb
          - Decoding Sorted Spikes: notebooks/42_Decoding_SortedSpikes.ipynb
      - MUA Detection: notebooks/50_MUA_Detection.ipynb
      - Behavior Syllables: notebooks/60_MoSeq.ipynb
  - Features:
    - Overview: Features/index.md
    - FigURL: Features/FigURL.md
    - Merge Tables: Features/Merge.md
    - Analysis Tables: Features/AnalysisTables.md
    - Export: Features/Export.md
    - Centralized Code: Features/Mixin.md
    - Recompute: Features/Recompute.md
    - Ingestion: Features/Ingestion.md
  - For Developers:
    - Overview: ForDevelopers/index.md
    - How to Contribute: ForDevelopers/Contribute.md
    - Database Management: ForDevelopers/Management.md
    - Code Reuse: ForDevelopers/Reuse.md
    - Table Types: ForDevelopers/TableTypes.md
    - Classes: ForDevelopers/Classes.md
    - Understanding a Schema: ForDevelopers/Schema.md
    - Custom Pipelines: ForDevelopers/CustomPipelines.md
    - Using NWB: ForDevelopers/UsingNWB.md
    - Ingestion Mapping: ForDevelopers/ingestion_mapping.md
  - API Reference: api/ # defer to gen-files + literate-nav
  - Change Log: CHANGELOG.md
  - Copyright: LICENSE.md

extra_css:
  - stylesheets/extra.css

plugins:
  - search
  - mermaid2: # for graphs
      version: 10.0.2
  - exclude:
      glob:
        - "temp*"
        - "0*yaml"
        - "*py_scripts/*"
  - mike:
      canonical_version: latest
      css_dir: stylesheets
  - mkdocstrings:
      enabled: true # Set to false to reduce build time
      default_handler: python
      handlers:
        python:
          options:
            members_order: source
            group_by_category: false
            line_length: 80
            docstring_style: numpy
          paths: [../src]
  - literate-nav:
      nav_file: navigation.md
  - exclude-search:
      exclude:
        - "*/navigation.md"
  - gen-files:
      scripts:
        - ./src/api/make_pages.py
        - ./src/api/ingestion_mapping_generate.py
  - mkdocs-jupyter: # Comment this block during dev to reduce build time
      execute: False # Very slow, needs gh-action edit to work/link to db
      include_source: False
      ignore_h1_titles: True
      ignore: ["*make_pages.py", "**checkpoints**", "*/py_scripts/*"]

markdown_extensions:
  - attr_list
  - tables
  - toc:
      permalink: true
  - pymdownx.highlight:
      anchor_linenums: true
      line_spans: __span
      pygments_lang_class: true
  - pymdownx.inlinehilite
  - pymdownx.snippets
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:mermaid2.fence_mermaid_custom
  - pymdownx.tabbed:
      alternate_style: true

extra:
  generator: false # Disable watermark
  version:
    provider: mike
  social:
    - icon: fontawesome/brands/github
      link: https://github.com/LorenFrankLab/spyglass
    - icon: fontawesome/brands/python
      link: https://pypi.org/project/spyglass-neuro/
