name: Black Code Formatting on PR

on: [push, pull_request]

jobs:
    linting:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v1
              name: Checkout
            - uses: Ahuge/black-action@v1.0.3
              env:
                GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
                BLACK_ARGS: "."
